<section id="articleheader">
  <h2><%= @ideia.titulo %></h2>
  <div class="byline">
    enviado por <%= link_to @ideia.usuario.nome, "" %> |
        <%= @ideia.visitas == 1 ? "1 visita" : @ideia.visitas.to_s + " visitas" %>
  </div>

  <div class="avatar">
    <%= image_tag gravatar(@ideia.usuario.email, 64) %>
  </div>

</section>

<section id="articlebody" class="textile">
  <%= @ideia.texto %>
</section>


<% # sugestoes are available for published ideias only %>
<% if @ideia.status > 2 %>
  <section id="comments"> 
    <% @sugestoes.each do |sugestao| %>
      <article class="comment">      
        <div class="avatar"><%= image_tag gravatar(sugestao.usuario.email, 48) %></div>
        <div class="commentbody">
          <div class="commenthead">               
            <%= sugestao.usuario.nome %> - <%=time_ago_in_words(sugestao.created_at)%> atrás 
            <% # display delete link only for sugestoes written by this particular usuario %>
            <% if usuario_signed_in? and sugestao.usuario_id == current_usuario.id %>
              <span><%= link_to 'remover', ideia_sugestao_path(@ideia, sugestao), :confirm => 'Tem certeza?', :method => :delete, :class => "" %></span>
            <% end %> 
          </div>
          <div><%= sugestao.msg %></div>
        </div>  
      </article>
    <% end %>

    <% # add a new sugestao %>   
    <article class="comment newcomment">            
      <% if usuario_signed_in? %>
        <div class="avatar"><%= image_tag gravatar(current_usuario.email, 48) %></div>
        <div class="commentbody">
          <% if current_usuario.nome == nil or current_usuario.nome == '' %>
            <div class="commenthead">
              Por favor complete seu <%= link_to "perfil", edit_usuario_registration_path %> antes de enviar sugestões.
            </div>
          <% else %>              
            <div class="commenthead">
              <%= current_usuario.nome %>
            </div>
            <div>
              <%= form_for [@ideia, current_usuario.sugestoes.new] do |f| %>
                <%= f.text_area :msg, :size => "100%x7", :class => "fullwidth" %>
                <%= f.submit "Enviar sugestão", :class => "awesome custom red" %>
              <% end %>                
            </div>          
          <% end %>
        </div>  
      <% else %>
        <div class="commentbody">
          <div class="signin">
            <div class="commenthead">
              Por favor <%= link_to "entre", new_usuario_session_path %> no sistema antes de enviar uma sugestão.              
            </div>
          </div>
        </div>          
      <% end %>
    </article>
  </section>
<% end %>