<h2>Admin: Ideia(s) <%= @status_name.capitalize %>(s) </h2>  
<section id = "admin">

  <% @ideias.each do |ideia| %>
    <p>
    <h4><%= link_to ideia.titulo, ideia %></h4>
    Autor: <%= ideia.usuario.nome %> <br/>
    <%= link_to 'Apagar', ideia, :confirm => 'Tem certeza que deseja apagar?', :method => :delete %>

    <% if ideia.status == 1 %> 
      | <%= link_to 'Rejeitar', editreject_admin_path(ideia) %>
      | <%= link_to 'Publicar', accept_admin_path(ideia, :value => '0'), :method => :put %>
      | <%= link_to 'Promover', accept_admin_path(ideia, :value => '1'), :method => :put %>
    <% end %>
  </p>
<% end %>
