<h2>Administração: Dashboard</h2>
<section id = "admin">

  <h3>Ideias</h3>
  <p>
    Estatísticas: <br/>
    <%= link_to pluralize(@num_status0, "ideia")+" em rescunho", ideias_admin_index_path + '?status=0' %> <br/>
    <%=pluralize(@num_published, "publicada")%> <br/>
    <%= link_to pluralize(@num_status4, "promovida"), ideias_admin_index_path + '?status=4' %> <br/>
    <%= link_to pluralize(@num_status3, "aprovada"), ideias_admin_index_path + '?status=3' %> <br/>
    <%= link_to pluralize(@num_status2, "rejeitada"), ideias_admin_index_path + '?status=2' %> <br/>
    <%= link_to pluralize(@num_status1, "enviadas"), ideias_admin_index_path + '?status=1' %> <br/>
    <% if @num_status1 > 0 %>
      <b><%= link_to pluralize(@num_status1, "ideias enviadas") , ideias_admin_index_path + '?status=1' %> aguardando aprovação!</b>
    <% end %>
  </p>

  <h3>Usuários</h3> 
  <p>
    Estatísticas:<br/>
    <%=pluralize(@num_usuarios, "usuário") %> total | 
    <%= pluralize(@num_usuarios_active30days, "usuário") %> entraram nos últimos 30 dias.<br />
    Novos usuários: <%= pluralize(@num_usuarios_created30days, "usuário") %> foram criados nos últimos 30 dias.
  </p>
</section>
