<p id="notice"><%= notice %></p>

<section id="articlebody">
    <h2><%= @sugestao.titulo %></h2>

    <div class="textile">
      <%= @sugestao.texto %>
    </div>
</section>

<%= link_to 'Editar', edit_sugestao_path(@sugestao) %> |
<%= link_to 'Voltar', sugestoes_path %>
