<section id="deviseauth">
  <h2>Entrar</h2>

  <h3>Entrar usando sua conta no SGI -- OU -- utilize se cadastro de um dos serviços de autenticação</h3>

  <div id="local" class="box">    
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <p>
        <%= f.label "E-mail" %><br />
        <%= f.text_field :email %>
      </p>

      <p>
        <%= f.label "Senha" %><br />
        <%= f.password_field :password %>
      </p>

      <% if devise_mapping.rememberable? %>
        <p>
          <%= f.check_box :remember_me %> <%= f.label "Lembrar?" %>
        </p>
      <% end %>

      <p>
        <%= f.submit "Entrar" %>
      </p>
    <% end %>
  </div>

  <div id="remote">
    <div id="terms" class="box">
      <%= link_to "Termos de uso", "#" %> 
    </div>  
    <div id="services" class="box">
      <a href="/auth/facebook" class="services"><%= image_tag "facebook_64.png", :size => "64x64",  :alt => "Facebook" %>Facebook</a>
      <a href="/auth/google" class="services"><%= image_tag "google_64.png", :size => "64x64",  :alt => "Google" %>Google</a>
      <a href="/auth/github" class="services"><%= image_tag "github_64.png", :size => "64x64",  :alt => "Github" %>Github</a>
      <a href="/auth/twitter" class="services"><%= image_tag "twitter_64.png", :size => "64x64",  :alt => "Twitter" %>Twitter</a>
    </div>
  </div>

  <div id="devise_links">
    <%= render :partial => "devise/shared/links" %>
  </div>
  
</section>