<!DOCTYPE html>
<html>
  <head>
<%#= content_for?(:title) ? yield(:title) : "SGI - Sistema de Gestão de Ideias e Sugestões" %>
    <%= stylesheet_link_tag 'css3' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <header id="page_header">

      <nav id="nav_user">
        <ul>
          <% if usuario_signed_in? %>
            <li><span id="currentuser">Autenticado como <%= current_usuario.username %></li>
            <li><%= link_to "Seu perfil", edit_usuario_registration_path %></li>
            <li><%= link_to "Suas ideias", minhasideias_ideias_path %></li>
            <li><%= link_to "Sair", destroy_usuario_session_path %></li>

          <% else %> 
            <li><%= link_to "Cadastrar", new_usuario_registration_path %></li> 
            <li><%= link_to "Autenticar", new_usuario_session_path %></li>
          <% end %>
        </ul>
      </nav>

      <div id="page_title">
        <h1><span>SGI</span> - Sistema de Gestão de Ideias</h1>
        <h2>Sistema integrado para gestão de <span>ideias</span> e <span>sugestões</span>.</h3>  
      </div>

    </header>

    <header id="nav_header">

      <nav id="nav_main">
        <ul>
          <li>
            <%=  link_to "Últimas Ideias", root_path %>
            <%=  link_to "Todas Ideias", all_ideias_path %>
            <%=  link_to "Sobre", about_ideias_path %>
          </li>
        </ul>
      </nav>

    </header>

    <section id="maincontainer">

      <section id="content">

        <section id="flash">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </section>

        <%= yield %>

      </section>

      <section id="sidebar">

        <section id="support" class="box">
          <h3>SGI-Gerência de Ideias </h3>
          <h4>Maneiras de contribuir com ideias:</h4>
          <ul>
            <li>Envie uma ideia</li>
            <li>Interagir com ideias</li>
            <li>Promover ideas</li>
          </ul>
        </section>

        <section id="links" class="box">
          <h3>Links (escolhidos pelo editor)</h3>
          <div><%= link_to "The official RailsGuides", "http://guides.rubyonrails.org" %></div>
          <div><%= link_to "The official Rails API", "http://api.rubyonrails.org/" %></div>
        </section>

      </section>

    </section>
    
    <footer id="page_footer"> 
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
            <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" />
        </a>
        <br />
        Todo o conteúdo sob a licensa: 
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
            Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License
        </a>.
    </footer>

  </body>
</html>
